[Unit]
Description=SocketCAN interface for AIRBOT USB serial adapters
After=dev-ttyCAN%i.device
BindsTo=dev-ttyCAN%i.device

[Service]
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/env slcan_add.sh %I
Type=forking
